<div class="w-full flex text-md text-slate-200 h-16 bg-slate-700 font-sans justify-between items-center px-6 lg:px-12">
    <div>
    <a href="/" class="font-bold text-2xl ">tareqh.com</a>
    </div>

    <div class="flex font-semibold items-center">
    <a href="/about" class="mr-4 lg:mr-8">About</a>
    <a href="/contact">Contact</a>
    </div>
</div>