<%- include('layouts/header') %>
<!--  -->
<%- include('layouts/navbar') %>

<div class="container mx-auto text-slate-700 font-sans mt-8 px-8">
  <img src="/img/circle.png" class="mx-auto mt-16 py-4 w-[60%] lg:w-[30%]" alt="" />
  <h1 class="text-xl text-center">Tareq Habbyullah</h1>
  <h2 class="text-sm text-center">Front-end Developer</h2>
</div>

<!--  -->
<%- include('layouts/footer') %>
