<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<div class="container mx-auto text-slate-700 font-sans mt-8 px-8 py-12">

  <div class="border p-8 rounded-md">
    <h1 class="font-bold text-xl text-center">Apa itu express js?</h1>
    <p class="pt-6">Diterjemahkan dari bahasa Inggris-Express.js adalah kerangka kerja aplikasi web back end untuk membangun RESTful API dengan Node.js, dirilis sebagai perangkat lunak sumber terbuka dan gratis di bawah Lisensi MIT. Ini dirancang untuk membangun aplikasi web dan API.</p>
  </div>

  <div class="py-12 mx-auto">
    <!-- <hr class="mx-8 my-4"> -->
    <h1 class="text-lg text-center text-slate-500 font-serif">
      "Fast, unopinionated, minimalist web framework for Node.js" <span class="text-md">- expressjs.com</span>
      <!-- <hr class="mx-8 my-4"> -->
    </h1>
  </div>

</div>


<%- include('layouts/footer') %>
